body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    background-image: url("https://img.freepik.com/fotos-gratis/vista-de-cima-em-close-up-tacas-de-especiarias-frutas-citricas-e-alho_140725-78732.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.header-container {
    background-color: rgba(0, 0, 0, 0.7);
    color: #E6A800;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container h1 {
    margin: 0;
    font-size: 28px;
}

.header-container input {
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    width: 220px;
}

main {
    width: 80%;
    margin: 20px auto;
}

.form-section, .lista-section {
    background: rgba(0, 0, 0, 0.75);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

button {
    background-color: #2E7D32;
    color: #FCFAFA;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}

button:hover {
    background-color: #1B5E20;
}

.receita-card {
    border: 1px solid #fcfafa;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background: rgba(0,0,0,0.65);
}

.receita-card h3 {
    color: #E6A800;
    font-weight: bold;
    margin: 0 0 8px 0;
}

.receita-card p:nth-of-type(1) {
    color: #f6cc7a;
}

.receita-card p:nth-of-type(2) {
    color: #FFA726;
}

#form-title, .lista-section h2 {
    color: #E6A800;
}